{% macro dish_card(dish) %}
    <div class="photo-card card">
        {% if dish.files %}
        <a class="card-thumbnail" href="{{ url_for('main.show_dish', dish_id=dish.id) }}">
            <img class="card-img-top portrait" src="{{ url_for('main.get_image', filename=dish.files[0].filename) }}">
        </a>
        {% endif %}
        <div class="card-body">
            <div>
                {{ dish.name }}
            </div>
            <span class="oi oi-yen"></span> {{ dish.price }}
            <span class="oi oi-star"></span> {{ dish.collectors|length }}
            <span class="oi oi-comment-square"></span> {{ dish.comments|length }}
            {{ dish.sales }}人付款
        </div>
    </div>
{% endmacro %}

{% macro order_card(order) %}
    <div class="photo-card card">
        <a class="card-thumbnail" href="{{ url_for('user.show_order', order_id=order.id) }}">
            <img class="card-img-top portrait" src="{{ url_for('main.get_image', filename=order.dish.files[0].filename) }}">
        </a>
        <div class="card-body">
            <div>
                {{ order.dish.name }}
            </div>
            <span class="oi oi-yen"></span> {{ order.price }}
            <span class="oi oi-clock"></span>  {{ order.start_time }}
        </div>
    </div>
{% endmacro %}

{% macro user_card(user) %}
    <div class="user-card text-center">
        <a href="{{ url_for('user.index', username=user.username) }}">
            <img class="rounded avatar-m" src="{{ url_for('main.get_avatar', filename=user.avatar_m) }}">
        </a>
        <h6>
            <a href="{{ url_for('user.index', username=user.username) }}">{{ user.name }}</a>
        </h6>
        {{ follow_area(user) }}
    </div>
{% endmacro %}

{% macro follow_area(user) %}
    {% if current_user.is_authenticated %}
        {% if user != current_user %}
            {% if current_user.is_following(user) %}
                <form class="inline" method="post"
                      action="{{ url_for('user.unfollow', username=user.username, next=request.full_path) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-dark btn-sm">Unfollow</button>
                    {% if current_user.is_followed_by(user) %}
                        <p class="badge badge-light">Follow each other</p>
                    {% endif %}
                </form>
            {% else %}
                <form class="inline" method="post"
                      action="{{ url_for('user.follow', username=user.username, next=request.full_path) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-primary btn-sm">Follow</button>
                    {% if current_user.is_followed_by(user) %}
                        <p class="badge badge-light">Follows you</p>
                    {% endif %}
                </form>
            {% endif %}
        {% endif %}
    {% else %}
        <form class="inline" method="post"
              action="{{ url_for('user.follow', username=user.username) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn btn-primary btn-sm">Follow</button>
        </form>
    {% endif %}
{% endmacro %}
