{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'macros.html' import order_card %}

{% block title %}{{ user.name }}{% endblock %}

{% block content %}
    {% include 'user/_header.html' %}
    <div class="row">
        <div class="col-md-12">
            {% if orders %}
                {% for order in orders %}
                    {{ order_card(order) }}
                {% endfor %}
            {% else %}
                <div class="tip text-center">
                    <h3>No orders.</h3>
                </div>
            {% endif %}
        </div>
    </div>
    {% if orders %}
        <div class="page-footer">
            {{ render_pagination(pagination, align='center') }}
        </div>
    {% endif %}
{% endblock %}
